@import '../../../assets/style/variables.scss';


.home {
  padding: $paddingPage;

  .spinner {
    display: flex;
    justify-content: center;

  }

  .example-full-width {
    width: 100%;
  }
}

.people-list {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background: $bgColor;

}

.card {
  padding: $paddingCard;
  margin-bottom: 10px;
  border: $border;
  cursor: move;
  font-size: $normalSize;
  border-radius: $borderRadius;
  background: $bgColor;

  .title {
    font-size: $normalSize;
    color: $main-color;
    text-transform: capitalize;
    font-family: 'poppins-regular';

    span {
      color: $second-color;
      font-size: $smallSize;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: $borderRadius;
  box-shadow: $shadow;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: $transitionDrag;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: $transitionDrag;
}